#form ::before{
  width: 100%;
}
#form input {
    margin: 0.4rem;
}
#number {
    height: 1.7rem;
    width: 14rem;
}
#formbtn input {
    width: 12rem;
}
#othericons img {
    width: 3rem;
    height: 3rem;
      margin: 0.6rem;

}
/* @media (min-width:300px) and (max-width:566px){
    #form ::before {
        width: 100%;
        height: 66rem;
    }
}
@media(max-width:590px) and (min-width:250px){



} */